.bg-dark {
    background-color: #343a40 !important
}

.bg-primary {
    background-color: #007bff !important
}

/*header style*/
.header{
    background-image: url('../images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }

.navbar {
    background: #A2D2FF;
}

.nav-link,
.navbar-brand {
    color: #27415a;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #FFAFCC;
    color: #27415a;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #FFAFCC !important;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.5);
   }


