.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;

}

.about h1 {
    color: #071c30;
    margin: 1em 0em 2em 0em;
}

.about img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 50%
}

.about span {
    display: block;
    color: #071c30;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #A2D2FF;
}

.about .desc h3 {
    color: #FFAFCC;
}

.about .desc p {
    line-height: 2;
    color: #071c30;
}

.maincolor {
    background-color: #ffffff;
}

.bg-dark {
    background-color: #343a40 !important
}

.bg-primary {
    background-color: #007bff !important
}

.contact {
    margin: 4em 0;
    position: relative;
}

.about h1 {
    color: #071c30;
    margin: 1em 0em 2em 0em;
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}

.description h1 {
    color: #FFAFCC;
}

.description p {
    color: #fdf5f8;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #FFAFCC;
    background: #FFAFCC;
    color: #fdf5f8;
}

/*header style*/
.header {
    background-image: url('../images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.img-with-text {
    text-align: center;
}

.navbar {
    background: #A2D2FF;
}

.nav-link,
.navbar-brand {
    color: #071c30;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #FFAFCC;
    color: #27415a;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #FFAFCC !important;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(122, 118, 118, 0.4);
}

/*Portfolio*/
.portfolio {
    margin: 4em 0;
    padding-bottom: 4em;
    position: relative;
    background-image: url('../images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.portfolio h1 {
    color: #FFAFCC;
    margin: 2em;
}

.portfolio-img-container {
    position: relative;
}

.portfolio-img-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.portfolio img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .card {
    box-shadow: 0 0 20px rgb(122, 118, 118);
}

.portfolio .card img {
    width: 100%;
    padding: 10px;
}

.portfolio .card-title {
    color: #071c30;
    inline-size: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.portfolio .card-body {
    padding: 1em;
}